{% extends 'base.html' %}
{% block title  %} Edit {% endblock title  %}
{% block body %} 

<h1 class="text-center"> Edit Your Vaccination Status Here </h1>

<div class="form-group">
  <label for="Name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name">
</div>
<div class="form-group">
  <label for="College ID" class="form-label">College ID</label>
  <input type="text" class="form-control" id="ID" placeholder="B18XXXXXX">
</div>
<div class="mb-3">
  <label for="email" class="form-label">College Email address</label>
  <input type="email" class="form-control" id="email" placeholder="name_collegeid@nitc.ac.in">
</div>
<select class="form-select" aria-label="Default select example">
  <option selected>Mention Your Vaccination Status</option>
  <option value="1">Not yet Vaccinated</option>
  <option value="2">Partially Vaccinated</option>
  <option value="3">Fully Vaccinated</option>
</select>

<select class="form-select" aria-label="Default select example">
  <option selected>Which of the following is used for user verification</option>
  <option value="1">Aadhaar Card</option>
  <option value="2">PAN Card</option>
</select>
<div class="mb-3">
  <label for="verification ID" class="form-label">Enter the verified ID number</label>
  <input type="email" class="form-control" id="verification ID" >
</div>
{% endblock body %}