{% extends 'base.html' %}
{% block title  %} Display {% endblock title  %}
{% block body %} 

<div class="container">
        <h1>Vaccination Data</h1>
        {% for info in vacc_data%}
        <strong>{{info.name}}</strong>
        <ul>
        <li><strong>College Id:</strong> {{info.collegeid}}</li>
        <li><strong>Email Id:</strong> {{info.email}}</li>
        <li><strong>Vaccination Status:</strong> {{info.status}}</li>
        <li><strong>Verification Proof:</strong> {{info.proof}}</li>
        <li><strong>Verification Id:</strong> {{info.verificationid}}</li>
        </ul>
        {% endfor %}
</div>
{% endblock body %}